@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
	user-select: none;
	-moz-user-select: none;
}

html, body {
	height: 100%;

	margin: 0;

	font-family: Roboto, sans-serif;

	box-sizing: border-box;
	background: rgb(6, 7, 8);
	/* background: #fff; */
}

.clock {
	display:flex;
	justify-content:center;
	align-items:center;

	height: 100%;
}

.clock-content {
	width: 480px;

	padding: 80px;

	background: rgb(6, 7, 8);
	opacity: 0;
	animation: fade 1s ease-in;
	animation-fill-mode: forwards;
}

@keyframes fade {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.clock-letter {
	display: inline-block;
	width: 40px;

	padding: 12px 0;

	text-align: center;
	color: rgb(25, 25, 25);
	font-size: 20px;
	font-weight: 700;

	transition: color 0.5s;
}

.clock-letter_active {
	color: rgb(148, 238, 226);
	animation: alive 6s infinite linear;
	animation-delay: 1s;
}

@keyframes alive {
	0%   {color: rgb(148, 238, 226);}
	50%  {color: rgb(25, 25, 25);}
	100% {color: rgb(148, 238, 226);}
}

@media (max-width: 1024px) {
	body {
		background: rgb(15, 16, 17);
	}
	.clock-content {
		margin: auto;
		padding: 20px;
	}
	.clock-letter {
		margin: 4px 2px;

		font-size: 18px;
	}
}